.nav {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100%;
  padding: 1vw;
}

.link {
  margin-top: 20px;
}

.profilePicture {
  width: 36px;
  height: 30px;
  border-radius: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homeLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 42px;
  width: 42px;
  height: 42px;
  color: #030303;
}

.exploreLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 43px;
  width: 43px;
  height: 38px;
  color: #030303;
}

.notificationsLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 29px;
  width: 29px;
  height: 36px;
  color: #030303;
}

.navbarCollapseLink {
  font-weight: bold;
}

.compass:hover {
  animation-name: rotate;
  animation-duration: 2s;
}

.navIcon {
  color: #ff4e2a;
  font-size: 1.7rem;
}

.navIcon:hover {
  color: #ff2b00;
}

.navIcon:active {
  color: #e92700;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .nav {
    background-color: #fff;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1vh 5vw 0;
    height: 100%;
  }

  .link {
    margin: 0 10px;
  }
}
