.nav {
  padding: 0 1vw;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100%;
}

.link {
  margin-top: 20px;
}

.profilePicture {
  width: 36px;
  height: 30px;
  border-radius: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homeLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 42px;
  width: 42px;
  height: 42px;
  color: #030303;
}

.exploreLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 43px;
  width: 43px;
  height: 38px;
  color: #030303;
}

.notificationsLink {
  overflow: visible;
  fill: rgb(3, 3, 3);
  font-size: 29px;
  width: 29px;
  height: 36px;
  color: #030303;
}

@media (max-width: 576px) {
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5vh 5vw;
  }

  .link {
    margin: 0 10px;
  }
}