.container {
  position: relative;
  height: auto;
  min-height: 100vh;
}

.row {
  min-height: 100vh;
}

.column {
  min-height: 100vh;
  padding: 0;
}

.sticky {
  position: sticky;
  top: 0;
}

@media (max-width: 576px) {
  .column {
    min-height: 0;
    height: auto;
  }
}
