.row {
  min-height: 100vh;
}

.column {
  min-height: 100vh;
  padding: 0;
  min-width: 0;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1600;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 4vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  z-index: 1800;
}

@media (max-width: 576px) {
  .column {
    min-height: 0;
    min-width: unset;
    height: auto;
  }
}
