.row {
  margin-bottom: 10px;
}

.profileText {
  text-align: justify;
}

.inputField {
  width: fit-content;
}

.form {
  width: 50%;
}

@media (max-width: 576px) {
  .form {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .inputField {
    width: 100%;
  }
}
