.column {
  grid-column: 1 / 3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  margin: 0 20px;
  max-height: 70vh;
  overflow: auto;
  background-color: #F6BA6F;
  box-shadow: 17px 17px 25px -3px rgba(0,0,0,0.1);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.pHeader {
  margin: 10px 0 10px 10px;
}

.selectBox {
  margin-left: 10px;
  height: 40px;
  border-radius: 5px;
}

.inputGroup {
  display: flex;
  align-items: center;
}