.welcomeHeading {
  margin: .5em 0 .4em;
  text-align: center;
}

.imgDiv {
  background-image: url('../../assets/neighborhood3.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: 273px;
  margin: auto;
  width: 380px;
}

@media screen and (max-width: 992px) {
  .imgDiv {
    border-radius: 0;
    height: 210px;
    margin: 0;
    width: 100%;
  }
}