.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.switchContainer {
  margin-top: 30px;
  margin-right: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switchContainer > p {
  margin: 0;
}

.switch {
  color: black;
}
