@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

h1, h2, h3 {
  color: #030303;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.wrapperContainer {
  height: 100%;
  width: 100%;
}

.customCol {
  align-content: center;
  display: grid;
}

.customRow {
  height: 100vh;
}

.formWrapper {
  padding: 1.6em 1em;
}

.imgCol {
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 3px;
}

/* @media screen and (min-width: 992px) and (max-width: 1110px) {
  .formWrapper {
    padding: 1.6em 6em;
  }
} */