@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* DEFAULT VALUES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  font-family: "Mulish", sans-serif;
}

section {
  margin: 40px 50px;
}

h2 {
  font-size: 1.5rem;
  color: #374151;
  margin-bottom: 25px;
  font-family: "Mulish", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* ALL NEIGHBORHOODS / NEW HEADER */

/* .all-neighborhoods {
  display: flex;
  flex-direction: column;
}

.all-neighborhoods img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 10px;
  margin-bottom: 20px;
} */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 60%;
  z-index: -1;
}

.neighborhood-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  overflow: hidden;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  z-index: 1;
}

.neighborhood-description > p:nth-child(1) {
  font-size: 1rem;
  margin-bottom: 10px;
}

.neighborhood-description > h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 40px;
  text-decoration: underline;
}

.neighborhood-description > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #374151;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.1rem - 1px) calc(1.5rem - 1px);
  margin: 10px 0;
  text-decoration: none;
  transition: all 0.25s ease-in;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  cursor: pointer;
}

.neighborhood-description > button:hover,
.neighborhood-description > button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.neighborhood-description > button:hover {
  transform: translateY(-1px);
}

.neighborhood-description > button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* ACTIVE REQUEST */

.all-active-requests {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.request-card {
  width: min(100%, 450px);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid rgb(173, 173, 173, 0.5);
}

.request-card > img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  filter: contrast(70%);
  transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.request-card > img:hover {
  filter: contrast(100%);
}

.request-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px;
}

.request-card-content > p {
  margin-bottom: 10px;
}

.request-card-content > p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4b5563;
}

.request-card-content > p:nth-child(2) {
  font-size: 0.6rem;
  font-weight: 400;
  color: #9ca3af;
}

.request-card-content > p:nth-child(3) {
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: auto;
}

/* RESPONDED REQUESTS */

.all-responded-requests {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.responded-request-card {
  width: min(100%, 450px);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid rgb(173, 173, 173, 0.5);
}

.responded-request-card > img {
  display: block;
  max-width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  filter: contrast(70%);
  transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.responded-request-card > img:hover {
  filter: contrast(100%);
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.profile-info > img {
  display: block;
  width: 30px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info > p {
  font-size: 0.7rem;
  font-weight: 600;
  color: #4b5563;
}

.responded-request-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px;
}

.responded-request-card-content > p {
  margin-bottom: 10px;
}

.responded-request-card-content > p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4b5563;
}

.responded-request-card-content > p:nth-child(2) {
  font-size: 0.6rem;
  font-weight: 400;
  color: #9ca3af;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .all-active-requests {
    grid-template-columns: repeat(4, 1fr);
  }

  .all-responded-requests {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 950px) {
  .all-active-requests {
    grid-template-columns: repeat(3, 1fr);
  }

  .request-card {
    width: min(100%, 500px);
  }

  .all-responded-requests {
    grid-template-columns: repeat(3, 1fr);
  }

  .responded-request-card {
    width: min(100%, 500px);
  }
}

@media (max-width: 750px) {
  .all-active-requests {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-responded-requests {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  section {
    margin: 40px 30px;
  }

  .neighborhood-description {
    padding: 20px 30px;
  }

  .neighborhood-description > p:nth-child(1) {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .neighborhood-description > h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .all-active-requests {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-responded-requests {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .neighborhood-description {
    padding: 10px 20px;
  }

  .neighborhood-description > p:nth-child(1) {
    font-size: 0.8rem;
  }

  .neighborhood-description > h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .neighborhood-description > p:nth-child(3) {
    font-size: 0.8rem;
  }

  .neighborhood-description > button {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media (max-width: 400px) {
  section {
    margin: 40px 50px;
  }
  .all-active-requests {
    grid-template-columns: 1fr;
  }

  .all-responded-requests {
    grid-template-columns: 1fr;
  }
}
