@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* DEFAULT VALUES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 10px 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 40px;
  min-height: 100vh;
}

/* HEADER */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  display: block;
  max-width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.username-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username {
  font-size: 1.2rem;
  font-weight: 600;
}

/* BUTTON */

.btn {
  background-color: rgb(0, 0, 0);
  color: rgb(250, 246, 246);
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(173, 173, 173);
}

/* SEARCH & SELECT BOX */

.search-select-box {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

input[type="text"] {
  max-width: 200px;
  border: 1px solid rgba(203, 198, 198, 0.5);
  border-radius: 10px;
  outline: transparent;
  padding: 12px 10px;
  font-size: 0.9rem;
  transition: all 0.4s ease;
}

input[type="text"]:focus {
  border: 1px solid rgb(0, 0, 0);
}

select {
  max-width: 250px;
  border: 1px solid rgba(203, 198, 198, 0.5);
  border-radius: 10px;
  outline: transparent;
  padding: 12px 10px;
  font-size: 0.9rem;
  transition: all 0.4s ease;
}

select:focus {
  border: 1px solid rgb(0, 0, 0);
}

/* TABLES */

.list-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 60%;
  border-spacing: 0;
  margin: 15px 0 30px;
}

.list-table th {
  border-right: 3px solid rgba(203, 198, 198, 0.5);
  color: rgb(58, 59, 60);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 30px 20px;
  overflow: hidden;
  word-break: normal;
}

.list-table td {
  border-right: 3px solid rgba(203, 198, 198, 0.5);
  color: rgb(74, 74, 74);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 10px 30px;
  /* word-break: normal; */
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item {
  text-align: center;
  vertical-align: top;
}

.list-item-no {
  table-layout: auto;
  width: 50px;
  padding: 10px 10px !important;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .list-table {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .list-table {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .list-table {
    width: 100%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }

  body {
    padding: 40px 20px;
  }

  .search-select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-table th {
    font-size: 0.7rem;
    padding: 10px 10px 20px;
  }

  .list-table td {
    font-size: 0.6rem;
    padding: 10px 10px;
  }

  .list-item-no {
    width: 30px;
  }
}
