.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.nav {
  height: 8vh;
  background-color: #6DA9E4;
  display: flex;
  align-items: center;
}

.navLeft {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.navRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.link {
  padding: 15px;
}

.footer {
  width: 100vw;
  height: 8vh;
  background-color: #6DA9E4;
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}