.searchInput {
  border: none;
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0;
  color: #ff2a70;
  text-align: center;
  padding-bottom: .1rem;
}

.searchInput:focus {
  box-shadow: none;
  border-color: var(--bs-border-color);
  color: #ff2a70;
}