.main {
  /* height: 85.8vh; */
  /* overflow: auto; */
}

.nav {
  height: 6vh;
  background-color: #6DA9E4;
  display: flex;
  align-items: center;
}

.navLeft {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.navRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.link {
  padding: 15px;
  color: black;
}

.footer {
  width: 100vw;
  height: 6vh;
  background-color: #6DA9E4;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.paragraph {
  margin: 0;
}