.container {
  margin: 0;
}

.column {
  display: flex;
  align-items: center;
}

.neighborhoodImg {
  min-width: 96px;
  height: 96px;
  border-radius: 100000px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.neighborhoodTitle {
  margin-left: 10px;
  color: #030303;
  font-size: 32px;
  /* font-family: "Poppins"; */
  font-weight: 600;
  line-height: 40px;
}

.neighborhoodDescription {
  margin: 10px 0px;
}

.alertBtnContainer {
  margin: 1.5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBtn {
  margin: 0 5px;
}

.membersContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leaveIcon {
  margin-left: 8px;
  color: #000000;
}

.leaveIcon:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .membersContainer {
    justify-content: flex-start;
    margin: 10px 0 0 22px;
  }
}
