.neighborhoodImg {
  max-height: 5em;
  min-width: 5em;
}

.neighborhoodDescription {
  margin: 10px 0px;
}

.btn {
  margin-right: 5px;
}

.membersContainer {
  display: flex;
  align-items: center;
}

.leaveIcon {
  margin-left: 8px;
  color: #ff4e2a;
}

.leaveIcon:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .btn {
    min-width: 55%;
    margin-top: 5px;
  }
}
