*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(112, 117, 120);
  background: linear-gradient(173deg, rgba(112, 117, 120, 1) 0%, rgba(155, 152, 203, 1) 51%, rgba(40, 88, 123, 1) 97%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}