.wrapper {
  padding: 50px;
}

.neighborhoodImg {
  max-height: 5em;
  width: 5em;
}

.nameColumn {
  max-width: 400px;
}

.neighborhoodName {
  line-height: 1.1;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.membersContainer {
  margin-top: 10px;
  display: flex;
  align-self: flex-start;
}

.centeredColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  /* padding: 0; */
  /* margin-top: 30px; */
}

.leaveIcon {
  font-size: 1.7em;
  margin-left: 8px;
  margin-top: 4px;
  color: #ff4e2a;
}

.leaveIcon:hover {
  animation: beat 0.2s linear;
  color: #ff2b00;
  cursor: pointer;
}

.leaveIcon:active {
  color: #e92700;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 30px;
  }

  .centeredColumn {
    width: 89vw;
  }

  .membersContainer {
    margin-top: 10px;
  }
}
