.wrapper {
  width: 100%;
  padding: 50px;
}

.header {
  grid-column: 1 / 4;
  text-align: center;
  justify-self: center;
}

.filterColumn {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: row;
}

.formGroup {
  margin: 10px;
}

.leaveButton {
  background-color: #6da9e4;
  width: 150px;
  border: 5px solid;
  align-self: center;
  margin: 10px;
  justify-self: center;
}

.leaveButton:hover {
  background-color: #ade4db;
}

.addRequestButton {
  background-color: #6da9e4;
  width: 150px;
  border: 0px solid;
  align-self: center;
  margin: 20px;
  justify-self: center;
}

.addRequestButton:hover {
  background-color: #ade4db;
}

.author {
  text-decoration: underline;
  font-weight: bolder;
}
