.navigation {
  display: none;
}

/* .formContainer {
  margin: 0 auto;
  width: 30vw;
  min-height: 65vh;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px black;
  border-radius: 2px;
  box-shadow: 15px 12px 12px 0px rgba(0,0,0,0.1);
  background: white;
  padding: 15px;
} */

/* neighborhoodImg {
  top: 160px;
  left: 154px;
  width: 412px;
  height: 412px;
} */

h1 {
  color: #030303;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

h2 {
  color: #1e1f26;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}

.mainBtn {
  background-color: black;
  border-color: black;
}

/* .form {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-gap: 10px;
} */

/* .label {
  text-align: left;
  font-weight: bold;
  align-self: center;
} */

/* .input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
} */

/* .submit {
  background-color: #F6BA6F;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  max-width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 2;
} */