@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  color: #1d1d1f;
}

h1, h2, h3 {
  color: #030303;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.wrapperContainer {
  height: 100%;
  width: 100%;
}

.customCol {
  align-content: center;
  display: grid;
}

.customRow {
  height: 100vh;
}

.imgCol {
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 3px;
}

.welcomeHeading {
  color: #030303;
  margin: 1em 0 0.5em;
  text-align: center;
}
.formWrapper {
  padding: 1.6em 5.3em;
}

.neighborhoodImg {
  margin: 1em auto;
  width: 73%;
}

h1 {
  line-height: 38px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

h2 {
  color: #1e1f26;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #545459;
}

.mainBtn {
  background-color: black;
  border-color: black;
}

.checkboxLinkWrapper {
  display: flex;
  justify-content: space-between;
}

/* .form {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 3fr;
  grid-gap: 10px;
} */

/* .label {
  text-align: left;
  font-weight: bold;
  align-self: center;
} */

/* .input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
} */

/* .submit {
  background-color: #F6BA6F;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  max-width: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 2;
} */