.neighborhoodHeading {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.wrapperContainer {
  height: 100%;
  width: 100%;
}

.customCol {
  align-content: center;
  display: grid;
}

.customRow {
  height: 100vh;
}

.formWrapper {
  padding: 1.6em 1em;
}

.imgCol {
  /* Comment out the following line to see alternative with solid color */
  background: linear-gradient(to right, #ff90b4 10%, white);
  background-color: #ff90b4;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 3px;
}

@media screen and (max-width: 992px) {
  .neighborhoodHeading {
    right: auto;
  }

  .imgCol {
    background: #ff90b4;
    /* background: linear-gradient(to bottom, #ff90b4 11%, white); */
    padding: 62px 0 3px;
  }
}