*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  color: #1d1d1f;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  color: #030303;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  color: #1e1f26;
  margin-bottom: .6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Override Bootstrap default variables */

.btn-primary {
  --bs-btn-bg: #ef83a5;
  --bs-btn-border-color: #ef83a5;
  /* --bs-btn-bg: black;
  --bs-btn-border-color: black; */
}

.btn-primary, .btn-outline-dark {
  --bs-btn-hover-bg: #ff91b4;
  --bs-btn-hover-border-color: #ff91b4;
  --bs-btn-active-bg: #db7092;
  --bs-btn-active-border-color: #db7092;
  /* --bs-btn-hover-bg: #7f7f85;
  --bs-btn-hover-border-color: #7f7f85;
  --bs-btn-active-bg: #69696f;
  --bs-btn-active-border-color: #69696f; */
}

.form-control:focus {
  border-color: #ffd8e5;
  box-shadow: 0 0 0 0.25rem rgb(255 128 169 / 17%);
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.form-check-input:focus {
  border-color: #69696f;
  box-shadow: 0 0 0 0.25rem rgb(115 119 125 / 25%);
}