@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  color: #1d1d1f;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  color: #030303;
  line-height: 38px;
}

h2 {
  color: #1e1f26;
  margin-bottom: .6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Override Bootstrap default variables */

:root {
  --bs-font-sans-serif: 'Poppins', system-ui, Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  --bs-btn-bg: #ff2a70;
  --bs-btn-border-color: #ff2a70;
  /* --bs-btn-bg: black;
  --bs-btn-border-color: black; */
}

.btn-primary, .btn-outline-dark {
  --bs-btn-hover-bg: #ff0054;
  --bs-btn-hover-border-color: #ff0054;
  --bs-btn-active-bg: #FE496F;
  --bs-btn-active-border-color: #FE496F;
  /* --bs-btn-hover-bg: #7f7f85;
  --bs-btn-hover-border-color: #7f7f85;
  --bs-btn-active-bg: #69696f;
  --bs-btn-active-border-color: #69696f; */
}

.form-control:focus {
  border-color: #ffeef3;
  box-shadow: 0 0 0 0.25rem rgb(255 128 169 / 9%)
}

.form-check-input:checked {
  background-color: #ff2a70;
  border-color: #ff2a70;
}

.form-check-input:focus {
  border-color: #ffeef3;
  box-shadow: 0 0 0 0.25rem rgb(255 128 169 / 9%)
  /* border-color: #69696f;
  box-shadow: 0 0 0 0.25rem rgb(115 119 125 / 25%); */
}